[2019-06-10 21:32] astrojuanlu opened #3 "Add CI"
Good opportunity to try Azure pipelines? Or perhaps just Circle CI

[2019-06-10 21:33] astrojuanlu opened #4 "Expand README"
* [x] What is CZML? And some examples
* [x] Add CI badges (see #1)
* [x] Installation instructions
* [ ] Roadmap
* [x] Contributor guide / Developer docs

[2019-06-10 21:34] astrojuanlu opened #5 "Define scope for first release"
I don't plan to implement *all* CZML by the first release. That would remove all the fun for potential contributors :stuck_out_tongue:

However, it would be nice to have a minimum set of functionality, plus #1 and #2. We have to define it somehow.

[2019-06-11 10:50] astrojuanlu commented on #5
czml3 can almost produce a satisfying satellite orbit:

![Screenshot_2019-06-11 JupyterLab](https://user-images.githubusercontent.com/316517/59266151-4635ac00-8c47-11e9-8bd8-c9aac6dfa93a.png)

I'd say with paths, labels and clocks we are almost there.

[2019-06-11 15:12] astrojuanlu commented on #3
_Right now_ there are some not-so-encouraging issues with Azure Pipelines https://hynek.me/articles/simple-python-azure-pipelines/ of course it's a matter of time, but I think I prefer to wait and start with Circle CI.

[2019-06-11 22:26] astrojuanlu opened #8 "Rename values to types"
https://github.com/AnalyticalGraphicsInc/czml-writer/wiki/CZML-Structure

[2019-06-11 22:30] astrojuanlu opened #9 "Apply general rules for properties"
https://github.com/AnalyticalGraphicsInc/czml-writer/wiki/CZML-Structure#intervals

Properties can be

1. A single value (already implemented). Assumes the value is the same for all times.
2. A value over one interval.
3. A list of (value, interval) combinations.

Notice that the rules above apply to sub-properties as well.

[2019-06-11 22:39] astrojuanlu opened #10 "Limit multiple inheritance to mixins?"
The classes `DeletableProperty` and `InterpolatableProperty` define an initializer as well, and therefore need the `super()` magic to call all the classes in the hierarchy. Apart from producing https://github.com/python/mypy/issues/5887, it complicates the code, so it would be nice to find an alternative.

[2019-06-11 22:45] #8 closed, assigned to nobody

[2019-06-11 23:53] #9 closed, assigned to nobody

[2019-06-12 09:00] #10 closed, assigned to nobody

[2019-06-12 10:08] astrojuanlu commented on #5
This is shaping up nicely! I am only missing these parts in the integration test:

https://github.com/poliastro/czml3/blob/bb3962f6477f04f71c25d0c0675f3f567fda1966/tests/simple.czml#L422-L430

[2019-06-13 08:02] astrojuanlu commented on #3
Closed in #11

[2019-06-13 08:02] #3 closed, assigned to nobody

[2019-06-13 22:12] astrojuanlu opened #13 "Create conda-forge feedstock"
https://conda-forge.org/#add_recipe

[2019-06-13 22:32] astrojuanlu commented on #5
I will leave them for version 0.2 :wink: Time to release, the sprint is over!

[2019-06-13 22:32] #5 closed, assigned to nobody

[2019-06-17 08:24] astrojuanlu opened #16 "Coverage fixes"
* [ ] Coverage failed to upload but job succeeded, see https://circleci.com/gh/poliastro/czml3/76
* [x] Codecov bot should comment on pull requests

[2019-06-17 08:40] astrojuanlu commented on #4
Shouldn't have closed this, as the CZML explanation is still TBD :)

[2019-06-17 11:02] astrojuanlu commented on #16
Codecov bot is commenting.

[2019-06-24 13:15] astrojuanlu commented on #16
This is not critical at all, closing

[2019-06-24 13:15] #16 closed, assigned to nobody

[2019-07-22 14:10] astrojuanlu opened #22 "Correct authors"
https://github.com/poliastro/czml3/blob/2d579c30dfc6431556c19071ad9804170c1098bd/README.rst#L2

Hardly true anymore :)

[2019-07-22 14:10] astrojuanlu opened #23 "Add CZML introduction"
https://github.com/poliastro/czml3/blob/2d579c30dfc6431556c19071ad9804170c1098bd/README.rst#L24-L27

[2019-07-22 14:12] astrojuanlu opened #24 "Add changelog"
From now on, it would be interesting to note somewhere what changed, for example a `CHANGELOG.rst`, a `docs/changelog.rst`, or something like https://github.com/hawkowl/towncrier.

[2019-08-24 02:31] OrbitalMechanic opened #27 "Testing of poliastro failed with test_czml_add_orbit.py and test_ground_station.py"
I'm running poliastro ver. 0.13.0 on an iMacPro running Mac OS X ver. 10.14.6 under Python 3.7.3. In running the test,

python -c "import poliastro.testing; poliastro.testing.test()

I get error messages concerning test_czml_add_orbit and test_ground_station. I'm testing poliastro with the setup.cfg file in the anaconda3 directory disabled (i.e., renamed so as not to be used). czml3 was installed.

[2019-08-24 02:32] OrbitalMechanic commented on #27
Closing this submittal. A duplicate to No. 26

[2019-08-24 02:32] #27 closed, assigned to nobody

[2019-10-17 18:11] astrojuanlu opened #29 "Packet does not expect property Point"
When trying to reproduce this example:

https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Apps/Sandcastle/gallery/CZML%20Point.html

I get an error:

[code]

because in #25 we forgot to add `point` to the list of expected properties:

https://github.com/poliastro/czml3/blob/afe4b83e78c4c6968cee24e20fb441137253a081/src/czml3/core.py#L39-L71

[2019-10-17 18:13] astrojuanlu opened #30 "Add Polygon"
https://github.com/AnalyticalGraphicsInc/czml-writer/wiki/Polygon

[2019-10-17 18:23] astrojuanlu opened #31 "Support cartographicDegrees in Position"
Interestingly, `PositionList` supports it:

https://github.com/poliastro/czml3/blob/afe4b83e78c4c6968cee24e20fb441137253a081/src/czml3/properties.py#L713-L717

However, `Position` doesn't.

[2019-10-17 18:23] astrojuanlu commented on #31
(Edit: Name of the issue)

[2019-10-17 18:33] astrojuanlu commented on #31
This includes adding `CartographicDegreesValue` apart from `CartographicDegreesListValue`:

https://github.com/poliastro/czml3/blob/afe4b83e78c4c6968cee24e20fb441137253a081/src/czml3/types.py#L280

[2019-10-17 19:18] astrojuanlu opened #32 "Point does not properly display color"
I was trying to use the `Point` introduced in #25 like this:

[code]

to reproduce the example in https://github.com/AnalyticalGraphicsInc/cesium/blob/master/Apps/Sandcastle/gallery/CZML%20Point.html. However, instead of getting

[code]

I am getting

[code]

[2019-10-18 10:26] astrojuanlu commented on #32
This is an API error, the correct way of creating it is `Point(color=Color(rgba=RgbaValue(values=[255, 0, 0, 255])))` (or `Point(color=Color(rgba=[255, 0, 0, 255]))` which is shorter).

[2019-10-18 10:26] #32 closed, assigned to nobody

[2019-10-18 10:38] #29 closed, assigned to astrojuanlu

[2019-10-18 10:38] #30 closed, assigned to astrojuanlu

[2019-10-18 10:38] #31 closed, assigned to astrojuanlu

[2019-10-18 14:36] #22 closed, assigned to nobody

[2019-10-24 09:57] astrojuanlu opened #36 "Implement equality"
[code]

Should it be based on the representation, or the properties?

[2019-10-28 11:48] astrojuanlu opened #38 "Implement 3D Models"
Some properties we are missing:

* https://github.com/AnalyticalGraphicsInc/czml-writer/wiki/Model
* https://github.com/AnalyticalGraphicsInc/czml-writer/wiki/Orientation
* https://github.com/AnalyticalGraphicsInc/czml-writer/wiki/UnitQuaternionValue

cc @enritoomey

[2019-10-28 11:52] astrojuanlu opened #39 "Fix inertial transformation"
(Asked [in the Cesium forum](https://groups.google.com/d/msg/cesium-dev/vuXmepd4T2E/i71tq2I8EAAJ))

When enabling the `icrf` function on the JavaScript side implemented here:

https://github.com/poliastro/czml3/blob/7b8ba683700d4f801d07bed8f48d916991e3960b/src/czml3/widget.py#L26-L40

There are some strange effects when rotating the view or switching to 2D. We should try to fix those.

[2019-10-28 11:55] astrojuanlu commented on #39
We already have a potential solution proposed by @OmarShehata:

[2019-10-30 19:23] astrojuanlu opened #40 "Can only have one container per notebook"
This is because the `id` of the `<div>` is always the same:

https://github.com/poliastro/czml3/blob/7b8ba683700d4f801d07bed8f48d916991e3960b/src/czml3/widget.py#L7

[2019-10-31 15:55] astrojuanlu opened #42 "Make get_color more robust"
* If given a `Color`, return a `Color`
* If given a tuple, convert to list
* If the tuple contains things that *resemble* integers (i.e. numpy integers) do not crash

[2019-10-31 16:26] #40 closed, assigned to nobody

[2019-11-06 07:33] #38 closed, assigned to nobody

[2019-11-06 11:24] astrojuanlu opened #45 "Work after switching to attrs"
(_Copied from #44_)

This already passes all the tests locally.

Things that will have to be reworked:

* [ ] Shortcuts, converters

Things I removed and I'd like to bring back:

* [ ] Docstrings

Things I'd like to review:

* [ ] Defaults (we should probably be using `default=None` everywhere)
* [ ] ~`isinstance` (we are inconsistently using positive and negative checks)~
* [x] Validation (we use

[2019-11-06 11:27] astrojuanlu commented on #36
This was automatically fixed by #44.

[2019-11-06 11:27] #36 closed, assigned to nobody

[2019-11-07 02:28] enritoomey opened #46 "Model3D view lost in PR 44"
After PR https://github.com/poliastro/czml3/pull/44, I was unable to plot models in the CZMLWidget().

Here is the code:

[code]

The widget is display, but no model is rendered.

[2019-11-07 07:15] astrojuanlu commented on #46
This is the diff:

[code]

Therefore, it seems we're missing the `id` of the preamble. Looking into it.

[2019-11-07 07:17] astrojuanlu commented on #46
Also, FYI: https://blog.ganssle.io/articles/2019/11/utcnow.html

[2019-11-07 09:40] #46 closed, assigned to nobody

[2019-11-07 10:54] astrojuanlu commented on #24
This was already added.

[2019-11-07 10:54] #24 closed, assigned to nobody

[2019-11-07 11:51] astrojuanlu commented on #4
Closing, even without roadmap.

[2019-11-07 11:51] #4 closed, assigned to nobody

[2019-11-07 11:55] #23 closed, assigned to nobody

[2019-11-13 15:03] fisadev opened #49 "Feature request: ability to specify tiles to use in the map"
It would be useful to be able to define which tiles (bing maps, mapbox, esri, etc) to use when creating the widget.

[2019-11-19 18:03] astrojuanlu opened #50 "Implement new materials"
* PolylineOutlineMaterial
* PolylineGlowMaterial
* PolylineArrowMaterial

cc @enritoomey

[2019-11-21 02:26] Tompythonorange commented on #13
I want to have more dynamic demos about czml files，if you can give me the Conversion process will be best, thanks, my email：18370984353@163.com

[2019-11-21 02:27] Tompythonorange opened #51 "I want to have more dynamic demos"
I want to have more dynamic demos about czml files，if you can give me the Conversion process will be best, thanks, my email：18370984353@163.com

[2019-12-03 18:29] astrojuanlu opened #53 "Allow standalone export"

[2019-12-04 13:12] noc0lour commented on #45
Note: The example in `README` is not working since `CZMLWidget` now expectes a `Document()` to be passed instead of a list. Now either a `Document(simple)` has to be passed or `CZMLWidget` has to do it in the initalizer.

Edit: For `simple` it works because it's a Document now, but it doesn't work for a list of packets. I don't know what would be the right way here. Maybe just a documentation issu

[2019-12-04 13:50] astrojuanlu commented on #45
@noc0lour I'd say that `CZMLWidget` should always expect a `Document`, do you see any inconsistency in the README or any docstring?

[2019-12-04 14:17] noc0lour commented on #45
No, somehow I expected in poliastro to be able to stick results from the CZML_extractor directly into a CZMLWidget, which is a poliastro issue not a czml3 issue.

[2019-12-04 14:22] astrojuanlu commented on #45
Oh, I see! Yep, `CZMLExtractor` should produce a `Document` with a proper `Preamble`.

[2019-12-12 20:47] kerel-fs opened #55 "Remove Cesium ion runtime dependency in CZMLWidget"
Currently CZMLWidget uses the default Cesium Ion token. With every release of Cesium the old token will be invalidated, breaking old notebooks ~~[citation needed]~~(see https://github.com/AnalyticalGraphicsInc/cesium/issues/8433#issuecomment-561257678). Afaik this token is only required to be able to access the imagery for the basemap via Cesium Ion.

[Example notebook](https://gist.github.com/ker

[2020-02-05 00:14] astrojuanlu commented on #13
Created!

[2020-02-05 00:14] #13 closed, assigned to nobody

[2020-04-09 11:03] astrojuanlu opened #61 "Support JupyterLab"
_Edit: See current status in [this comment](https://github.com/poliastro/czml3/issues/61#issuecomment-1556204017)._

At the moment, `czml3.widget.CZMLWidget` has a straightforward `_repr_html_` that prints some HTML. However, this is not how custom widgets are supposed to be implemented [citation needed]

We should write our own custom Jupyter widget so it's compatible, at least, with modern Jupyt

[2020-04-09 22:04] GorgiAstro commented on #61
According to this post, it could be necessary to get a webpack of Cesium: https://github.com/jupyterlab/jupyterlab/issues/5566

A new webpack of Cesium will come soon: https://github.com/DigitalArsenal/webpack-cesium/issues/7

[2020-04-09 22:24] astrojuanlu commented on #61
Oh wow, Jon Mease already worked on it :flushed: perhaps we'll have more luck this time!

[2020-04-10 09:10] GorgiAstro commented on #61
Yes, but I could not find where he published his ipywidget. Maybe we can ask him in a chat or by tagging him here?

[2020-04-10 15:57] astrojuanlu commented on #61
Hi @jonmmease! We noticed [your comment](https://github.com/jupyterlab/jupyterlab/issues/5566#issue-376520463) from a couple of years ago about making a Cesium widget. @GorgiAstro found that there will be a new version of webpack-cesium soon. Do you have any code you can share so we can pick up from there and perhaps finish the work? Or do you think we should start from scratch?

[2020-04-10 16:32] jonmmease commented on #61
Hi @astrojuanlu, thanks for reaching out.  Sorry to say that I can't share the code, but that said it wasn't very far along.  Most of the time spent was in tinkering to try to get cesium building as an ipywidget. Sounds like a `webpack-cesium` would make that much easier!

In terms of the widget itself, all that I got working was a proof-of-concept where I made a Python/JavaScript model that store

[2020-04-12 16:23] astrojuanlu commented on #53
I think this means producing complete HTML that does not need embedding anywhere else.

[2020-04-12 17:10] iMurfyD opened #64 "Cesium Widget full screen does not behave properly in Jupyter"
🐞 **Problem**

Cesium widget has a full-scree button in the lower right hand corner. Pressing it should make the window go full screen, however it has a different behavior. It seems that it makes the entire Jupyter notebook full screen and sets the background outside of the notebook to be the same as a the widget. Screenshot below:

![full screen cesium widget doesn't work in browser](https://user

[2020-04-12 18:58] iMurfyD commented on #64
Ran in breakpoint on click in Opera debugger found the following when I stepped through clicking the full screen button in the Cesium widget:

`Failed to execute 'requestFullscreen' on 'Element': API can only be initiated by a user gesture.
Uncaught (in promise) TypeError: fullscreen error`

[code]

Excerpt from Cesium.js starting at line 8345:

[code]

[2020-04-12 20:25] astrojuanlu commented on #64
Addressing the issue part first:

https://github.com/poliastro/czml3/blob/328608feb358b40acce528c2a63115cfc4f6e5ca/src/czml3/widget.py#L68

The latest version has to be specified manually. Can you try `CZMLWidget(d, cesium_version="1.68")`?

Confirmed in my computer.

In the Cesium sandcastle, this works normally:

https://sandcastle.cesium.com/

Googling the error throws things like [this Stack O

[2020-05-16 10:31] astrojuanlu commented on #42
Partially addressed in #66

[2020-06-11 09:15] astrojuanlu opened #68 "Widget window grows vertically"
Height is set to 100 %, and that creates problems.

[2020-06-26 13:47] TJKoury commented on #61
@jonmmease @astrojuanlu We have a new build that works great, and will be kept up to date with the latest in core Cesium.

As I am sure you are aware, the packing process is non-trivial, and in our case represents a significant investment to maintain.  We are trying to keep it open for community use but have not decided on a licensing model yet.

Would any of the companies represented on this proj

[2020-06-26 13:57] astrojuanlu commented on #61
Thanks for chiming in @TJKoury! That's great news.

poliastro and czml3 are a community effort, unfortunately the only support we can offer is integrating webpack-cesium in czml3 and try to make it work for a broader audience.

[2020-06-26 14:23] TJKoury commented on #61
@astrojuanlu Understood.  How do you think the community would respond to a 'non-commercial' license?

[2020-06-26 15:48] astrojuanlu commented on #61
@TJKoury It's a good question. There are many forms of "non-commercial" licensing, [for example what Qt does](https://www.qt.io/licensing/). If you decide use a copyleft license, we'll have to evaluate how to use it from czml3 (MIT, hence non-copyleft) without infringing the terms (and I might need a lawyer for this...). Other than that, I don't know how that can affect adoption.

[2020-06-26 15:48] TJKoury commented on #61
Also, we are about to release a commercial package for the library behind [Celestrak Orbit Viz](https://celestrak.com/cesium/orbit-viz.php?tle=/pub/TLE/catalog.txt&satcat=/pub/satcat.txt&pixelSize=3&samplesPerPeriod=90&referenceFrame=1).

[2020-06-26 16:26] TJKoury commented on #61
After some consideration, I think we will probably just release it under MIT and ask for donations.

[2020-06-26 16:54] astrojuanlu commented on #61
That's great news :) Let me suggest https://opencollective.com/ for the donations part in case you don't know it. Looking forward for the release :muscle:

[2020-09-25 20:38] TJKoury commented on #61
Here it is, [C137.js](https://www.npmjs.com/package/c137.js).

Decided to go with [CC BY 4.0](https://creativecommons.org/licenses/by/4.0/) as freeware, since source-wise it is already open.

Left some crypto addresses at the bottom if people are feeling generous.

[2020-09-26 04:06] astrojuanlu commented on #61
Awesome @TJKoury, thanks a lot! We'll soon try to figure out how to use, if @jonmmease doesn't beat us to it :)

[2020-09-26 11:04] TJKoury commented on #61
It should be fairly straightforward, use an es6 `import` any bundler will take care of the rest.  Let me know if you have any issues.

[2020-09-26 11:18] jonmmease commented on #61
No risk of that for the foreseeable future :slightly_smiling_face:

[2020-10-12 19:58] astrojuanlu commented on #61
Seems like JupyterLab 3.0 and webpack 5.0 will change some things? See lengthy discussion at https://github.com/jupyterlab/jupyterlab/issues/7468, keyword "Module Federation" https://module-federation.github.io/

[2020-10-12 20:52] TJKoury commented on #61
@astrojuanlu It will not change the need to pack it up, or mess with our implementation.  The issue is not dependency management, it is trying to load external resources like workers at runtime as if they were compile time assets.

[2020-11-19 23:17] khoohuibo opened #69 "IntervalValue does not accept integer or float"
I seem to be unable to insert values other than booleans into an IntervalValue, defined within types.py

I essentially run into this error upon hitting the following function:
[code]

And another exception occurs as well
[code]

This is interesting because I am inserting a number '1' as the value, and json.dumps works on that number.

Now i noticed that TYPE_MAPPING is a dictionary defined at the

[2020-12-02 12:11] mhaberler commented on #50
see https://github.com/poliastro/czml3/pull/74

[2020-12-03 08:41] astrojuanlu commented on #50
All the materials were implemented already, thanks @mhaberler! Closing :rocket:

[2020-12-03 08:41] #50 closed, assigned to nobody

[2020-12-10 15:53] idanmiara opened #75 "PyPi release cycle"
I see that the last release, 0.5.3,  was about 10 months ago.
Since then there were many additions and fixes to `Master`.
Would you please release a new version into `PyPi` occasionally?
Thanks!

[2020-12-11 10:09] astrojuanlu commented on #75
You're totally right @idanmiara , this has been delayed for too long! I am in the process of making a release right now, and hopefully I will be more responsive going forward. Will close this issue when done.

[2020-12-11 10:14] astrojuanlu commented on #69
Hi @khoohuibo , thanks for your interest in czml3! I guess you refer to this piece of code:

https://github.com/poliastro/czml3/blob/d7f0b72193087811780da65bae4a986eb6eab0e7/src/czml3/types.py#L318-L335

And here are a couple of examples of how to use `IntervalValue` from the tests:

https://github.com/poliastro/czml3/blob/f0136f46e03d9d9134a5bfa06164c10d95315ac4/tests/test_properties.py#L540-L543

[2020-12-11 10:15] idanmiara commented on #75
Thanks!

On Fri, 11 Dec 2020, 12:09 Juan Luis Cano Rodríguez, <
notifications@github.com> wrote:

[2020-12-11 10:34] astrojuanlu commented on #75
czml3 0.5.4 is available 🎉

[2020-12-11 10:34] #75 closed, assigned to nobody

[2020-12-15 23:32] astrojuanlu opened #81 "Generate code using JSON schema"
https://github.com/AnalyticalGraphicsInc/czml-writer/tree/master/Schema

[2020-12-17 20:12] mhaberler commented on #81
nice idea, unfortunately that Schema collects dust just as the [CZML Writer](https://github.com/AnalyticalGraphicsInc/czml-writer/wiki/InterpolatableProperty) spec - last change 11 months ago

do you see a way of extracting that from the source code some way, similar to the documentation?

[2020-12-17 20:48] astrojuanlu commented on #81
Well - maybe CZML did not change in the past 11 months? :) (One can only hope)

I am not sure how to do that. Also, it's not clear how to use the schema either, apart from a last step validation, or integration test, or something.

[2020-12-22 23:20] ckoval7 opened #82 "Removing white space from document output"
First, thank you for this awesome library. My project wouldn't be anywhere near what it is without it.

Is there a good way to remove white space from the document? I found a way to do it, but I feel like it's inefficient/has extra steps.
`output = json.dumps(json.loads(str(Document([top] + packets))), separators=(',', ':'))`

Removing white space turns a 24MB CZML file into a 9MB CZML file.

[2020-12-24 01:23] astrojuanlu commented on #82
Thanks for your kind words @ckoval7 ! I'm so happy you're finding czml3 useful.

It makes sense to have an option to procure compact (instead of pretty) output. Will try to take a look within the next two weeks.

[2020-12-24 10:26] astrojuanlu commented on #49
I _think_ this should be feasible by using different `ImageryProvider` classes: https://www.cesium.com/docs/tutorials/imagery-layers/

[2020-12-24 10:27] mhaberler opened #83 "support for GeoJSON and __geointerface__"
I need a geo objects base library under my applications and decided to go for https://pypi.org/project/geojson/

czml3 then would be pretty much an output converter for geojson objects similar to dumps()

I wonder if there is any point in leveraging on the [__geointerface__ protocol ](https://gist.github.com/sgillies/2217756#id11)

my current thinking would be to sublcass geojson objects and add a

[2020-12-24 10:30] astrojuanlu commented on #68
...let's settle at 400 px or so by default, and make it configurable.

[2020-12-24 10:31] astrojuanlu commented on #55
Related to #49. I think we can change the default basemap and that's it (and whoever happens to have a Cesium Ion token can always use the best basemap they can)

[2020-12-24 16:56] astrojuanlu commented on #83
What packets in particular you think would benefit from `geojson` integration / higher level APIs? In other words: if we reverse the implementation, and add a `from_geojson` method to some of the classes, which ones do you think could benefit? I am not sure how the GeoJSON ➡️ CZML would work in the general case.

[2020-12-26 16:16] astrojuanlu commented on #81
Idea: instead of validating against the JSON Schema, let's generate czml3 source code _from_ the schema!

In fact, instead of generating Python code directly, we could programmatically generate `attrs` classes:

https://www.attrs.org/en/stable/api.html#attr.make_class

Just checked that, by using `attr.ib` instead of the provisional `attr.field`, we can even attach types.

For verification purpose

[2020-12-26 16:39] astrojuanlu commented on #81
In fact, I think the wiki is generated from the JSON schema: https://github.com/AnalyticalGraphicsInc/czml-writer/blob/master/DotNet/GenerateFromSchema/MarkdownGenerator.cs

[2020-12-26 18:09] astrojuanlu commented on #81
[code]

Result:

[code]

[2020-12-26 18:11] astrojuanlu commented on #81
I think this approach is very promising, it just needs some work :)

[2020-12-26 20:53] #49 closed, assigned to astrojuanlu

[2020-12-26 20:53] #55 closed, assigned to astrojuanlu

[2020-12-26 20:53] #68 closed, assigned to astrojuanlu

[2021-01-05 12:31] astrojuanlu commented on #61
I edited the first comment to add some extra information.

[2021-02-09 09:13] petrushy commented on #61
Hi, was playing a bit with this, would like to get the old CesiumWidget up and running again.. Did a test with c137.js and cookiecutter widget, now showing the widget nothing else. https://github.com/petrushy/CesiumWidget3/tree/c137_version

I would however like to transition to the "official" cesium where all steps are reproducable, but c137.js was indeed very smooth to get running.

[2021-02-09 10:28] astrojuanlu commented on #61
That's great news @petrushy ! I think it's pointless to have two widgets, so one option would be that we remove our `widget.py` from czml3 and we  lend a hand with the maintenance of CesiumWidget3, what do you think?

[2021-02-09 14:48] TJKoury commented on #61
Thanks for the vote of confidence @petrushy, and make sure to check out our soon-to-be decentralized notebook app, [mapshot.app](https://mapshot.app).  Still in beta but you get the idea.

[2021-02-09 19:24] petrushy commented on #61
@astrojuanlu I am very happy to collaborate on this, the one currently in czml is working but does not fully meet the needs of a widget for other purposes. I am thinking to also add a bit of higher level easy-plotting for quick visualizations.

@TJKoury , sorry I may express myself unclear, I do not see a future using closed source, your package is very nice and the example was a quick confirmatio

[2021-02-09 19:32] TJKoury commented on #61
@petrushy No problem!  The source is available, it’s just the build process that is proprietary.  Seems like this project does not have issues using libraries built with closed-source IDE’s or operating systems, but if this is where you draw the line I understand.

[2021-03-10 18:47] abhaykatheria commented on #82
Hi @astrojuanlu I would love to help out with this issue :). I think removing the indent here -
[code]
will do the job and I think this string dunder method should not have an indent field because if we look at when python dictionaries are converted to string they seem to ignore the indents. We can move this current functionality in some new method.

[2021-03-11 09:23] astrojuanlu opened #88 "Default branch was renamed to main"
For more info: https://github.com/github/renaming

I know this is controversial, and nobody asked for it (yet). Still, I went ahead and unilaterally made the change, to avoid more pain in the future.

This issue is just to notify everyone, please adjust your local environments accordingly:

[code]

Regardless of whether I like this or not, (1) it's a debate that is not going away, and it will hit

[2021-03-11 09:23] #88 closed, assigned to nobody

[2021-03-18 15:15] rushabh-v commented on #81
Hi @astrojuanlu, I am Rushabh Vasani, a 3rd-year student from India and I am interested in working on this project under GSoC.

If I understood it correctly, the project is about automating the process of creating the [property classes](https://github.com/poliastro/czml3/blob/main/src/czml3/properties.py) using [JSON Schema](https://github.com/AnalyticalGraphicsInc/czml-writer/tree/master/Schema)

[2021-03-20 21:32] astrojuanlu commented on #82
To clarify, this is the current behavior:

[code]

@ckoval7 @abhaykatheria This works with the current version of czml3. Is it enough for your needs?

[code]

[2021-03-20 21:33] astrojuanlu commented on #69
Closing because of inactivity.

[2021-03-20 21:33] #69 closed, assigned to nobody

[2021-03-20 21:36] astrojuanlu commented on #81
Hi @rushabh-v ! I outlined my idea for this in https://github.com/poliastro/czml3/issues/81#issuecomment-751381533 . If we could do it in an incremental way, instead of having to wait for 1 massive pull request that changes everything, that would be great. I'm all eyes :)

[2021-03-21 08:58] rushabh-v commented on #81
Hi @astrojuanlu, Thanks for your response.

Sure, here is how I am planning to break it down (one PR per point):
1. The class generator module with the type checks using `mypy`
2. Tests for the generator and generated classes
3. Code quality - GitHub Actions (integrate `black`, `isort`, etc.)
4. Extras (could be discovered while implementing the former functionalities)

Your suggestions would be w

[2021-03-21 09:20] astrojuanlu commented on #81
I don't like this breakdown :) Code quality should be ingrained in every pull request, we can't merge code that doesn't pass our checks. Also, every pull request must have tests. I suggest that we discuss this in our chat.

And yes, #86 is an unfinished proof of concept. In fact, I will extract some parts of it.

[2021-03-21 09:51] rushabh-v commented on #81
Sure, I thought the class generator module would be highly coupled and I couldn't see any way of a vertical breakdown (the way you mentioned). I might be missing something.

Yes, let's discuss this. By chat do you mean the [polaris](https://app.element.io/#/room/#polaris:matrix.org)'s matrix room or is there a separate channel for czml3?

Okay.

Thanks.

[2021-03-21 10:03] astrojuanlu commented on #81
https://github.com/poliastro/czml3#support

[2021-03-23 22:07] ckoval7 commented on #82
Works on Document too, which is what I needed. Thanks!

[2021-03-24 16:45] astrojuanlu commented on #82
Thanks a lot @ckoval7 !

[2021-03-24 16:45] #82 closed, assigned to nobody

[2021-04-01 02:44] niharsalunke commented on #64
Hi @astrojuanlu , I have worked on this issue. I was able to solve the missing earth problem. We need to generate a Cesium ion token before can proceed to display plots. To generate a free token, I followed this [link ](https://cesium.com/ion/tokens). And after that, I also made a few modifications to the widgets.py file. Everything seems to be working now.

However, with the fullscreen issue, I h

[2021-04-11 15:07] astrojuanlu commented on #64
Copy pasting a comment I left in #92:

[2021-05-23 15:16] jpromers opened #93 "Lack of support for positional references"
Support is necessary for positional references...

`
polyline":{
       ...
      "arcType":"NONE",
      "positions":{
        "references":[
          "Facility/AGI#position","Satellite/ISS#position"
        ]
      }

`
Position constructor doesn't accept "references" attribute.  This comes from the CZML simple example from the sandcastle that is the basis for your "simple" example.

[2021-06-30 19:51] mwarnick123 opened #94 "Position missing arguments for interval"

[2021-06-30 20:10] mwarnick123 commented on #94
Found in the the tests how to use the epoch in Position

[2021-07-01 13:06] mwarnick123 opened #96 "missing polygon arguments and missing polyline arguments"
There is no available arguments for polygon holes and polyline characteristics

[2021-07-02 05:39] astrojuanlu commented on #94
Hi @mwarnick123 , can you give some more details? I don't see `interval` here: https://github.com/AnalyticalGraphicsInc/czml-writer/wiki/Position

[2021-07-02 05:46] astrojuanlu commented on #94
This: https://github.com/AnalyticalGraphicsInc/czml-writer/wiki/CZML-Structure#intervals

[2021-07-02 05:51] astrojuanlu commented on #94
Isn't this solved by

[code]

?

[2021-07-02 05:58] astrojuanlu commented on #93
Hi @jpromers , sorry for the delay. `PositionList` accepts `references`:

https://github.com/poliastro/czml3/blob/cea9aab56e3dd4dbe3874f4d16928dcf32d7093f/src/czml3/properties.py#L431

and `Position` accepts `reference`:

https://github.com/poliastro/czml3/blob/cea9aab56e3dd4dbe3874f4d16928dcf32d7093f/src/czml3/properties.py#L230

I think you might be confusing the two. It's not your fault, CZML d

[2021-07-02 14:59] mwarnick123 commented on #94
Hi @astrojuanlu, I want a polygon to appear for only a certain period of time and to write that I need to write the following for the position:
[code]

to get the interval I can use TimeInterval(), but I still need to declare interval which can be done in the Position() class.

This can be used on other objects and placed in the PositionList() class as well.

[2021-07-02 15:00] mwarnick123 commented on #94
https://sandcastle.cesium.com/?src=CZML%20Polygon%20-%20Interpolating%20References.html&label=CZML This is the example I am trying to use czml3 to create the czml file

[2021-11-04 18:39] TJKoury commented on #61
It's open source now, Apache 2.0 licensed:

[Github - c137.js](https://github.com/DigitalArsenal/c137.js)

[2021-11-04 18:40] TJKoury commented on #64
Try [C137.js.](https://www.npmjs.com/package/c137.js)

It's open source now, Apache 2.0 licensed:

[Github - c137.js](https://github.com/DigitalArsenal/c137.js)

[2021-11-04 18:48] astrojuanlu commented on #61
Thanks a lot @TJKoury !

By the way, this discussion is very relevant: https://github.com/jupyter/notebook/issues/6210 basically we are in the same situation as many other extensions. Doing what czml3 does in Classic Notebook is easy, but it turns out that doing it in JupyterLab requires an entirely different set of skills. I added my two cents to that discussion, and it looks like there are some

[2021-11-04 19:24] TJKoury commented on #61
@astrojuanlu Sounds good, let us know if there's anything on our end that we can do to help.

[2021-11-04 20:18] petrushy commented on #61
Many Thanks!!!

[2021-12-14 03:45] giswqs opened #98 "cesium token"
I am trying to use my own cesium token. However, it does not seem to work. I am new to Cesium. Any advice? Thanks.

![image](https://user-images.githubusercontent.com/5016453/145929148-8ff1b5aa-2a79-4dfe-b11a-ace918f73e95.png)

[2021-12-14 06:58] astrojuanlu commented on #98
Hi @giswqs ! I have often observed that, once you try the widget with a given token (or the default one), it gets "stuck" and you need to restart the notebook, clear the outputs, refresh the browser window, and execute the cells again to make it work. Could you please try that? If it still doesn't work I'll have a closer look.

[2021-12-14 16:19] giswqs commented on #98
It seems the issue has been fixed by #99. Thanks.

![image](https://user-images.githubusercontent.com/5016453/146037156-b9be8dcb-5a23-4aa2-aa76-be745b5cbab2.png)

[2021-12-14 16:22] #98 closed, assigned to nobody

[2021-12-16 13:15] astrojuanlu commented on #61
PSA: I'm learning webpack. I might tackle this myself 😉

[2021-12-16 13:16] astrojuanlu commented on #61
Inspiration: https://github.com/damianavila/RISE/pull/605

[2022-01-07 19:23] mstill3 opened #100 "Drawing arrows does not seem to work properly"
I may be trying to accomplish this improperly:

[code]
![image](https://user-images.githubusercontent.com/18670089/148595812-eec3efbc-4b9f-40a9-b12f-73d44fbce888.png)

[2022-01-08 00:52] astrojuanlu commented on #100
Hi @mstill3 ! I think this should be the correct way:

[code]

however, it looks like `PolylineMaterial` does not support `polylineArrow`:

https://github.com/poliastro/czml3/blob/ab7d7eb7d8d7b97c088cca818d5fc989f02e19c6/src/czml3/properties.py#L75-L84

(I am extremely confused because I suggested this same snippet to @mhaberler in https://github.com/poliastro/czml3/pull/80#issuecomment-745632263

[2022-01-10 16:18] mwarnick123 opened #101 "creating partial ellipsoids"
Add parameters to the Ellipsoid class in order to create partial ellipsoids

[2022-01-10 20:58] astrojuanlu commented on #100
I understand that this is fixed by #103, let me know otherwise! Can you paste a fragment of working code with a screenshot for proof?

[2022-01-10 22:49] mstill3 commented on #100
Here you go
![outline1](https://user-images.githubusercontent.com/18670089/148851290-21194704-1b50-4ce1-a5df-fcca7dc41d5b.PNG)
![arrow1](https://user-images.githubusercontent.com/18670089/148851294-ab10efab-350b-4dbe-aaa3-f134e829474a.PNG)
![dash1](https://user-images.githubusercontent.com/18670089/148851296-82527c4b-8a8f-4ee5-9750-13edd1996483.PNG)
![glow1](https://user-images.githubusercontent.c

[2022-01-11 06:21] astrojuanlu commented on #100
Awesome, thanks! Closing

[2022-01-11 06:21] #100 closed, assigned to nobody

[2022-01-20 13:08] SidharajYadav commented on #61
how i contribute
please guide me

[2022-02-26 16:25] dfreeman06 commented on #61
Started work here starting from a JupyterLab extension cookiecutter: https://github.com/dfreeman06/czml3/tree/gh61_support_jupyterlab with **strong assistance** from @bollwyvl.

![image](https://user-images.githubusercontent.com/6493354/155850428-5a25cb04-834f-4b92-9aee-38b5a48ba1fc.png)

The webpack integrates with the cesium source directly but takes care to keep the various modules loading asyn

[2022-02-26 16:51] bollwyvl commented on #61
@dfreeman06 you're a madman :exploding_head: glad you got it out there, happy to help move it forward.

unless the implementation shown is _entirely_ different than the one we looked at the other day, here are some big ticket items to consider:
- replaces the `attrs` parameter system with `ipywidgets` and `traitlets`
  - it _might_ be possible to emulate the existing API, but there would be new pr

[2022-02-26 18:41] TJKoury commented on #61
Some of those issues are alleviated if you swap out our single-file open source distro, [c137.js](https://www.npmjs.com/package/c137.js), for Cesium.  We made it in part to deal with the issues you mentioned.  You can clone the repo and use the build process with the Cesium code, if you want to customize.

[2022-02-26 18:59] astrojuanlu commented on #61
This is awesome, thanks a lot @dfreeman06 and @bollwyvl! Happy to review whenever you're ready to submit a PR.

[2022-02-26 19:28] bollwyvl commented on #61
We had a look at c137, and indeed may emulate some of it in separating the
build into several packages, with one just being the cesium assets. Through
no shortcoming of c137, a lab extension is going to go through the
lab-specific build chain, and would still need webpack tricks.

While a bigger build-time download, by depending on cesium directly, we
also gain access to the raw upstream cesium as

[2022-02-26 19:34] TJKoury commented on #61
Makes sense, let us know if you have any questions about the parts of the build process you may decide to use.

[2022-02-26 21:27] petrushy commented on #61
Looks great!

[2022-09-07 20:12] lalligagger commented on #53
Hi @astrojuanlu! Is there currently any good way to use the CZMLWidget HTML representation outside of a notebook, e.g. embedded within some template page?

[2022-09-08 06:46] astrojuanlu commented on #53
Hi @lalligagger! If I recall correctly, this widget does not (yet) have any jupyter-specific code, it's just a blob of HTML. The only thing missing is `<html>`, `<head>`, and `<body>`, but maybe this is perfect for what you need.

Have a look at the `to_html` method:

https://github.com/poliastro/czml3/blob/46b434214b40dee14fbe2d0d74baba90b44b7ba4/src/czml3/widget.py#L97-L103

[2022-09-10 19:13] lalligagger commented on #53
Ok, I haven't been able to get standalone html working but a mashup of the extractor and the approach taken below has me running in a dash app!

https://community.plotly.com/t/adding-cesium-app-to-plotly-dash/48336

[2022-09-11 06:19] astrojuanlu commented on #53
What exactly didn't work, or what errors did you observe? Would be useful to know so we can try to address them.

[2022-09-12 18:27] lalligagger commented on #53
I added your suggested tags to beginning/ end of `to_html` output and saved as .html but nothing renders in that case.

[2022-11-07 22:26] mixxen opened #105 "PyPi czml3 release is outdated"
Please push a new version to PyPi. We want to obtain new changes in the master branch with pip. I can help with this if you give me access. Thanks.

[2022-11-07 23:06] astrojuanlu commented on #105
Thanks for the nudge @mixxen, will do this week 🙏🏽

[2022-11-30 05:11] mixxen commented on #105
Let me know if I can help with pushing a new version.